#team-builder-list {
    height: 100%;
    overflow: scroll;
}

#player-search-results {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 4;
}

.player-choice:hover {
    background-color: orange;
}

.player-row-head {
    font-size: 0.5em;
    max-height: 50px;
}

.grid-view-active {
    background-color: rgb(255, 219, 122);
}

.grid-hidden {
    display: none;
}

.grid-show {
    display: block;
}

.container-hidden {
    display: none;
}

.container-show {
    display: block;
}

.hide {
    display:none;
}

.trade-list {
    min-height: 200px;
    overflow: scroll;
}

.search-results {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 4;
}