{% extends 'base.html' %}

{% block title %}
FB Pickup Assistant
{% endblock %}

{% block content %}
<h1>Pickup Analyzer</h1>
<hr>
<p class="my-1">On the left, choose a player that you'll drop from one of your teams.</p>
<p class="my-1">Choose a player on the right that you want to add.</p>
<p class="my-1">Click <strong>Analyze Pickup</strong> to compare stats between the players and see how the change could affect the rest of your week.</p>
<hr>

<div class="container-fluid" id="pickup-staging">
    <div class="text-center my-2">
        Projecting for the week of: <input type="date" id="pick-date"/>
    </div>
    <div class="row justify-content-between" id="player-selectors">
        <div class="col-md-5 col-12" id="drop-player-selector">
            <div class="form-group">
                <label for="players">From Team:</label>
                <select class="form-control" id="player-team-select" name="teams">
                    <option value="">--Choose Team--</option>
                    {% for team in teams %}
                        <option value="{{team.id}}">{{team.name}}</option>
                    {% endfor %}
                </select>
                <label for="players">Drop Player:</label>
                <select class="form-control" id="drop-player-select" name="drop-players">
                    <option value="">--Choose Player--</option>
                </select>
            </div>
        </div>
        <div class="col-md-5 col-12" id="pickup-player-selector">
            <div class="form-group">
                <label for="players">Pick up player</label>
                <select class="form-control" id="pickup-player-select" name="players" hidden>
                    <option value=""></option>
                </select>
            </div>
            <div class="my-3" id="pickup-player-search">
                <input class="form-control player-search-bar" type="text" id="pickup-player-search-bar" placeholder="Search for players">
                <div class="search-results shadow rounded-sm hide" id="pickup-player-search-results">
                    <ul class="player-list" id="pickup-player-list"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="player-lists">
        <div class="col-md-5 col-12" id="drop-player-staging">
            <div class="shadow border rounded-sm row mx-1 pickup-list" id="drop-player-display-list">
                <div id="drop-player-block" class="player-block col-12 shadow-sm py-2 border border-black">
                </div>
            </div>
        </div>

        <div class="col-md-2 col-12 align-self-center" id="drop-for">
            <h2 class="text-center">FOR</h2>
        </div>

        <div class="col-md-5 col-12" id="opp-player-staging">
            <div class="shadow border rounded-sm row mx-1 pickup-list" id="pickup-player-display-list">
                <div id="pickup-player-block" class="player-block col-12 shadow-sm py-2 border border-black">
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-success d-block mx-auto my-4 col-12" id="analyze-pickup">Analyze Pickup</button>

<div class="hide" id="pickup-results">
<h3>Pickup Results</h3>
    <h5 class="text-center">Per-game comparison</h5>
    <div class="table-responsive" id="per-game-player-grid-stats">
        <table class="table table-striped table-bordered table-sm" id="per-game-player-totals">
            <thead>
                <th></th>
                <th class="text-center">Player</th>
                {% for cat in cats if cat[0] != 'gp' %}
                    <th class="cat-name text-center">{{cat[1]}}</th>
                {% endfor %}
            </thead>
            <tbody id="per-game-player-grid-stats-body">
            </tbody>
        </table>
    </div>
    <h5 class="text-center">Rest-of-week comparison</h5>
    <div class="table-responsive" id="weekly-player-grid-stats">
        <table class="table table-striped table-bordered table-sm" id="weekly-player-totals">
            <thead>
                <th></th>
                <th class="text-center">Player</th>
                {% for cat in cats %}
                    <th class="cat-name text-center">{{cat[1]}}</th>
                {% endfor %}
            </thead>
            <tbody id="weekly-player-grid-stats-body">
            </tbody>
        </table>
    </div>
    <div class="hide" id="team-projection-container">
        <h5 class="text-center">Team Projection Change</h5>
        <div class="table-responsive" id="team-diff-container">
            <table class="table table-striped table-bordered table-sm mx-auto w-auto" id="team-diff">
                <thead>
                    <th class="text-center">Category</th>
                    <th class="text-center">Projected Total</th>
                </thead>
                <tbody>
                    {% for cat in cats %}
                        <tr class="{{cat[0]}}-row">
                            <th class="cat-name text-center">{{cat[1]}}</th>
                            <td class="cat-user-total text-center" id="user-{{cat[0]}}-total"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/api.js"></script>
<script src="/static/js/utilities.js"></script>
<script src="/static/js/stats.js"></script>
<script src="/static/js/players.js"></script>
<script src="/static/js/schedule.js"></script>
<script src="/static/js/playersearch.js"></script>
<script src="/static/js/pickupanalyzer.js"></script>
{% endblock %}