{% extends 'base.html' %}

{% block title %}
Weekly Projections
{% endblock %}

{% block content %}
<h2>Weekly projections for {{team.name}}</h1>
<h3>{{team.league}}</h3>
<hr>
<h4 class="text-center">Total Projections</h4>
<div class="row" id="total-projections">
    <div class="col-5" id="user-total-container">
        <h5 class="text-center">{{team.name}}</h5>
        <table class="table table-striped table-bordered table-sm" id="user-totals">
            <thead>
                <th class="text-center">Category</th>
                <th class="text-center">Projected Total</th>
            </thead>
            <tbody>
                {% for cat in cats %}
                    <tr class="{{cat[0]}}-row">
                        <th class="cat-name text-center">{{cat[1]}}</th>
                        <td class="cat-user-total text-center" id="user-{{cat[0]}}-total"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2 align-self-center">
        <h2 class="text-center">VS.</h2>
    </div>
    <div class="col-5" id="opp-total-container">
        <h5 class="text-center" id="opponent-name">Opponent</h5>
        <table class="table table-striped table-bordered table-sm" id="opp-totals">
            <thead>
                <th class="text-center">Category</th>
                <th class="text-center">Projected Total</th>
            </thead>
            <tbody>
                {% for cat in cats %}
                    <tr class="{{cat[0]}}-row">
                        <th class="cat-name text-center">{{cat[1]}}</th>
                        <td class="cat-opp-total text-center" id="opp-{{cat[0]}}-total"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center" id="opponent-options">
            <label for="opponent-select">Choose an opponent:</label>
            <select name="opponent-teams" id="opponent-team-select">
                <option value="">--Opponent Team--</option>
                {% for opp in opponents %}
                <option value="{{opp.id}}">{{opp.name}}</option>
                {% endfor %}
            </select>
            <a href="{{url_for('show_opp_team_builder', team_id=team.id)}}" class="btn btn-success" id="add-opp-team">Add opposing team</a>
            <a href="#" class="btn btn-info" id="edit-opp-team">Edit opposing team</a>
        </div>
    </div>
</div>

<hr>

<h4 class="text-center">Player Projections</h4>
<div class="text-center">
    <!-- HIDING FOR MVP WITHOUT PROJECTION UPDATES -->
    <!-- <button class="mx-auto btn btn-success" id="update-projections">Update all projections</button> -->
</div>
<div class="container d-flex m-1 justify-content-center" id="team-switch">
    <span class="p-2 border border-black team-view team-view-active" id="view-user">Your Team</span>
    <span class="p-2 border bolder-black team-view" id="view-opp">Opposing Team</span>
</div>
<div class="container d-flex m-1 justify-content-center" id="view-switch">
    <span class="p-2 border border-black grid-view grid-view-active" id="view-stats">View Stats</span>
    <span class="p-2 border bolder-black grid-view" id="view-schedule">View Schedule</span>
</div>


<div class="player-grid-container container-show" id="user-player-grid-container">
    <div class="table-responsive grid-show grid-stats" id="user-player-grid-stats">
        <table class="table table-striped table-bordered table-sm" id="user-player-totals">
            <thead>
                <th class="text-center">Player</th>
                {% for cat in cats %}
                    <th class="cat-name text-center">{{cat[1]}}</th>
                {% endfor %}
            </thead>
            <tbody id="user-player-grid-stats-body">
            </tbody>
        </table>
    </div>
    <div class="table-responsive grid-schedule grid-hidden" id="user-player-grid-schedule">
        <div class="col-auto">
            <table class="table table-striped table-bordered" id="user-player-schedule">
                <thead>
                    <th class="text-center">Player</th>
                    {% for day in days %}
                        <th class="day user-day text-center" id="user-day-{{days.index(day)}}"></th>
                    {% endfor %}
                    <th class="text-center">Total Games</th>
                </thead>
                <tbody id="user-player-grid-schedule-body">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="player-grid-container container-hidden" id="opp-player-grid-container">
    <div class="table-responsive grid-show grid-stats" id="opp-player-grid-stats">
        <table class="table table-striped table-bordered" id="opp-player-totals">
            <thead>
                <th class="text-center">Player</th>
                {% for cat in cats %}
                    <th class="cat-name text-center">{{cat[1]}}</th>
                {% endfor %}
            </thead>
            <tbody id="opp-player-grid-stats-body">
            </tbody>
        </table>
    </div>
    <div class="table-responsive grid-hidden grid-schedule" id="opp-player-grid-schedule">
        <table class="table table-striped table-bordered" id="opp-player-schedule">
            <thead>
                <th class="text-center">Player</th>
                {% for day in days %}
                    <th class="day opp-day text-center" id="opp-day-{{days.index(day)}}"></th>
                {% endfor %}
                <th class="text-center">Total Games</th>
            </thead>
            <tbody id="opp-player-grid-schedule-body">
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/api.js"></script>
<script src="/static/utilities.js"></script>
<script src="/static/players.js"></script>
<script src="/static/stats.js"></script>
<script src="/static/schedule.js"></script>
<script src="/static/projections.js"></script>
{% endblock%}