{% extends 'base.html' %}

{% block title %}
{{team.name}}
{% endblock %}

{% block content %}
<h1>{{team.name}}</h1>
    {% if team.league %}
        <h3>{{team.league}}</h3>
    {% endif %}
<div class="row" id="team-options">
    <div class="team-option col-4">
        <a href="{{url_for('show_projections', team_id=team['id'], username=user.username)}}" class="mx-2 btn btn-block btn-success">Team Projections</a>
    </div>
    <div class="team-option col-4">
        <a href="{{url_for('edit_team', username=user.username, team_id=team['id'])}}" class="mx-2 btn btn-info btn-block">Edit Team</a>
    </div>
    <div class="team-option col-4">
        <form action="{{url_for('delete_team', username=user.username, team_id=team['id'])}}" method="POST">
            <button class="btn-block mx-2 btn btn-danger">Delete Team</button>
        </form>
    </div>
</div>
<hr>
<div class="row shadow-sm border border-info" id="player-grid">
    {% for player in team.players %}
        <div id="{{player.player_id}}" class="team-player col-12 col-sm-6 col-md-3 shadow-sm py-2 border border-black">  
        </div>
    {% endfor %}
</div>
<div class="row justify-content-center my-2">
    <div class="col-12 justify-content-center">
        <h4 class="text-center">Opposing Teams</h4>
        <a href="{{url_for('show_opp_team_builder', team_id=team.id)}}" class="my-2 d-block col-4 mx-auto text-center btn btn-success" id="add-opp-team">Add opposing team</a>
    </div>
    <div class="col-12 col-md-4">
        <div class="list-group">
            {% for opp in opponents %}
                <a href="{{url_for('show_opp_team', team_id=team.id, opp_team_id=opp.id)}}" class="list-group-item list-group-item-action">{{opp.name}}</a>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="/static/api.js"></script>
<script src="/static/players.js"></script>
<script src="/static/team-view.js"></script>
{% endblock %}