{% extends 'base.html' %}

{% block title %}
FB Trade Assistant
{% endblock %}

{% block content %}
<h1>Trade Analyzer</h1>
<hr>

<div class="row" id="trade-staging">
    <div class="col-md-5 col-12" id="user-player-staging">
        <div class="form-group">
            <label for="players">Players Given</label>
            <select class="form-control" id="user-player-select" name="players" multiple hidden>
            </select>
        </div>
        <!-- Add player search to replace multi-select input -->
        <div class="my-3" id="user-player-search">
            <input class="form-control player-search-bar" type="text" id="user-player-search-bar" placeholder="Search for players">
            <div class="search-results shadow rounded-sm hide" id="user-player-search-results">
                <ul class="player-list" id="user-player-list"></ul>
            </div>
        </div>
        <div class="shadow border rounded-sm row mx-1 trade-list" id="user-team-trade-list">
        </div>
    </div>
    <div class="col-md-2 col-12 align-self-center" id="trade-for">
        <h2 class="text-center">FOR</h2>
    </div>
    <div class="col-md-5 col-12" id="opp-player-staging">
        <div class="form-group">
            <label for="players">Players Received</label>
            <select class="form-control" id="opp-player-select" name="players" multiple hidden>
            </select>
        </div>
        <div class="my-3" id="opp-player-search">
            <input class="form-control player-search-bar" type="text" id="opp-player-search-bar" placeholder="Search for players">
            <div class="search-results shadow rounded-sm hide" id="opp-player-search-results">
                <ul class="player-list" id="opp-player-list"></ul>
            </div>
        </div>
        <div class="shadow border rounded-sm row mx-1 trade-list" id="opp-team-trade-list">
        </div>
    </div>
</div>

<button class="btn btn-success d-block mx-auto my-4 col-12" id="analyze-trade">Analyze Trade</button>

<h3>Trade Results</h3>
<div class="hide" id="trade-results">
    <h5 class="text-center">Giving</h5>
    <div class="table-responsive" id="user-player-grid-stats">
        <table class="table table-striped table-bordered table-sm" id="user-player-totals">
            <thead>
                <th class="text-center">Player</th>
                {% for cat in cats if cat[0] != 'gp' %}
                    <th class="cat-name text-center">{{cat[1]}}</th>
                {% endfor %}
            </thead>
            <tbody id="user-player-grid-stats-body">
            </tbody>
        </table>
    </div>
    <h5 class="text-center">Receiving</h5>
    <div class="table-responsive" id="opp-player-grid-stats">
        <table class="table table-striped table-bordered table-sm" id="opp-player-totals">
            <thead>
                <th class="text-center">Player</th>
                {% for cat in cats if cat[0] != 'gp' %}
                    <th class="cat-name text-center">{{cat[1]}}</th>
                {% endfor %}
            </thead>
            <tbody id="opp-player-grid-stats-body">
            </tbody>
        </table>
    </div>
    <h5 class="text-center">Result</h5>
    <div class="table-responsive" id="trade-player-grid-stats">
        <table class="table table-striped table-bordered table-sm mx-auto w-auto" id="trade-result-diff">
            <thead>
                {% for cat in cats if cat[0] != 'gp' %}
                    <th class="cat-name text-center">{{cat[1]}}</th>
                {% endfor %}
            </thead>
            <tbody id="trade-player-grid-stats-body">
                {% for cat in cats if cat[0] != 'gp' %}
                    <td class="cat-diff text-center" id="trade-{{cat[0]}}-diff"></th>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/api.js"></script>
<script src="/static/utilities.js"></script>
<script src="/static/stats.js"></script>
<script src="/static/players.js"></script>
<script src="/static/playersearch.js"></script>
<script src="/static/tradeanalyzer.js"></script>
{% endblock %}