{% extends 'base.html' %}

{% block title %}
{{user.username}}
{% endblock %}

{% block content %}

<h1>Welcome, {{user.username}}!</h1>
<p>How's your season going?</p>

<h3>Your teams:</h3>
<hr>
<a class="my-2" href="{{user.username}}/addteam">Add a new team</a>
<div class="row my-2" id="teams">

    {% for team in teams %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{team.name}}</h5>
                  {% if team.league %}
                    <h6 class="card-subtitle mb-2 text-muted">{{team.league}}</h6>
                  {% endif %}
                </div>
              </div>
        </div>
    {% endfor %}

</div>

{% endblock %}